<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/normalize.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/foundation.min.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css" />	
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src="{{ SITEURL }}/theme/js/modernizr.js"></script>

<!-- With thanks to https://lizdenys.com/journal/articles/adding-open-graph-to-pelican.html -->
{% if article is defined %}
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
<meta property="og:title" content="{{ article.title | replace("\"", "&quot;") }}" />
<meta property="og:description" content="{{ article.content | striptags | replace("\"", "&quot;") | truncate(196, False, '...') }}" />
<meta property="og:image" content="{{ SITEURL }}/images/{% if article.opengraph_image is defined %}{{ article.opengraph_image }}{% else %}daveoc-typewriter.png{% endif %}" />
{% elif page is defined %}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ SITEURL }}/{{ page.url }}" />
<meta property="og:title" content="{{ SITENAME }} - {{ page.title | replace("\"", "&quot;") }}" />
<meta property="og:description" content="{{ page.content | striptags | replace("\"", "&quot;") | truncate(196, False, '...') }}" />
<meta property="og:image" content="{{ SITEURL }}/images/{% if page.opengraph_image is defined %}{{ page.opengraph_image }}{% else %}daveoc-typewriter.png{% endif %}" />
{% else %}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ SITEURL }}/{{ output_file }}" />
<meta property="og:title" content="{{ SITENAME }}" />
<meta property="og:description" content="A page on log.andvari.net" />
<meta property="og:image" content="{{ SITEURL }}/images/daveoc-typewriter.png" />
{% endif %}



{% include 'analytics.html' %}
</head>

<body>

<!-- Nav Bar -->
<nav>
<div class="top-bar">
<div class="row">
    <div class="large-9 large-centered columns">
	    <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
    </div>
</div>
</div>

<!-- Show menu items and pages -->
<div class="row">
<div class="large-9 columns">
    <ul class="button-group navigation">
	{% for title, link in MENUITEMS %}
    <li><a href="{{ link }}" class="button secondary small">{{ title }}</a></li>
    {% endfor %}

    {% if DISPLAY_PAGES_ON_MENU %}
        {% for page in pages %}
            <li><a href="{{ SITEURL }}/{{ page.url }}" class="button secondary small">{{ page.title }}</a></li>
        {% endfor %}
    {% endif %}
    </ul>
</div>
</div>
</nav>
<!-- End Nav -->


<!-- Main Page Content and Sidebar -->
<div class="row">

    <!-- Main Blog Content -->
    <div class="large-9 columns">
    {% block content %}{% endblock %}
    </div>
    <!-- End Main Content -->

    <!-- Sidebar -->
    <aside class="large-3 columns">
        <h5 class="sidebar-title">Site</h5>
        <ul class="side-nav">
            <li><a href="{{ SITEURL }}/archives.html">Archives</a>
            <li><a href="{{ SITEURL }}/tags.html">Tags</a>
            {% if FEED_ALL_ATOM %}
            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" rel="alternate">Atom feed</a></li>
            {% endif %}
        </ul>

        {% if categories %}		
        <h5 class="sidebar-title">Categories</h5>
        <ul class="side-nav">
        {% for cat, null in categories %}
            <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
        {% endfor %}   
        </ul>
        {% endif %}

        {% if LINKS %}
        <h5 class="sidebar-title">Links</h5>
        <ul class="side-nav">
        {% for name, link in LINKS %}
            <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
		
        {% if SOCIAL %}
        <h5 class="sidebar-title">Social</h5>
        <ul class="side-nav">
        {% for name, link in SOCIAL %}
            <li><a href="{{ link }}">{{ name }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}


        {% if CATEGORY_FEED_ATOM %}
        <h5 class="sidebar-title">Feeds</h5>
        <ul class="side-nav">
        <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" rel="alternate">All</a></li>
        {% for cat, null in categories %}
            <li><a href="{{ SITEURL}}/feeds/{{ cat.slug }}.atom.xml">{{ cat.name }}</a></li>
        {% endfor %}   
        </ul>
        {% endif %}


    </aside> <!-- End Sidebar -->

</div> <!-- End Main Content and Sidebar -->


<!-- Footer -->
<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="large-6 columns">
              <!--                  <p>{{ SITENAME }} by {{ AUTHOR }}</p> -->
            </div>
            </div>
    </div>
</footer>
{% include 'piwik.html' %}
</body>
</html>
